body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mouse-trail-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid; /* Цвет задаем через JS (circle.style.borderColor) */
  border-radius: 50%;
  pointer-events: none; /* Чтобы не мешал кликам */
  opacity: 1;
  animation: mouseTrailFade 0.5s forwards ease-out;
}

@keyframes mouseTrailFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

